.carrossel-topo
{

    display: flex;
    height: 400px;
    width: 60%;
    justify-content: end;
    align-items: center;
    margin-top: 24px;


    background-color: antiquewhite;

    border-radius: 24px;
    
    
}
/*
terá que ser realizado depois, pois precisa ser estudado
.carrossel-img
{
 
}
*/
.carrossel-txt
{
    width: 20%;
    height: 50%;
    margin-right: 34px;
    
    border: 1px solid black;
    border-radius: 16px;
}

