.container-experiencias {
    padding: 64px;
    height: 100vh;

    background-color: #4B1F6F;
}

.place-experiencias {
    width: 50%;
    height: 100%;
    margin-inline: auto;
    background-color: #fdcce6;

}

.place-experiencias header {
    height: 40px;
    width: 100%;
    background-color: white;
    font-size: 24px;
    color: #c1d591;
}

.background-experiencias{
    object-position: top;
    object-fit: cover;
    padding-inline: 12px;
    width: 100%;
    height: 40%;
}