.historia
{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
}

.img-lateral
{
    width: 400px;
    height: 350px;
    
    border: 1px solid black;
}

.texto-historia
{
    width: 660px;
    height: 350px;
    
    border: 1px solid black;
}