.grid-vitrine
{
    display: flex;
    gap: 1px;
}

.grid-vitrine img
{
    width: 100%;
    height: 600px;

    object-fit: cover;
    object-position: top center;
    
}

.vitrine-promocional p
{
    width: 100%;
    height: 30px;
    text-align: center;

    border: 1px solid black;

}


