.place-vitrine {
    margin: 24px 5px 100px 5px;
    padding: 0;
    gap: 30px;
    display: flex;
    justify-content: center;
}


.card-vitrine {
    margin: 0%;
    padding: 0;
    height: 700px;
    width: 460px;
    position: relative;
}

.card-vitrine img {
    display: flex;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.grid-footer-vitrine {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}



.grid-footer-vitrine h3 {
    font-size: 18px;
}

.grid-footer-vitrine h3,
.grid-adicionar-carrinho {
    margin: 0;
    text-align: center;
}

.desc-footer-vitrine {
    display: flex;
    align-items: center;
    justify-content: center;

}

.desc-footer-vitrine .produto {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;
    font-size: 15px;
    align-items: center;
}

/* ---------------- */

.desc-footer-vitrine .produto p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

.desc-footer-vitrine .produto input {
    width: 20%;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 16px;
    border: none;
    padding: 4px;
    border: 1px solid #4B1F6F;
}

.grid-adicionar-carrinho .tamanho {
    bottom: 4%;
    right: -5%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.grid-adicionar-carrinho .tamanho button {
    cursor: pointer;
    width: 40px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 8px;
    border: none;
    border: 1px solid #4B1F6F;
    color: #fff;
    background-color: none;
    background-color: #4B1F6F;
}

.adicionar-carrinho {
    cursor: pointer;
    padding-inline: 12px;
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 16px;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    border: none;

}

.grid-adicionar-carrinho {
    position: absolute;
    bottom: 2%;
    right: 25%;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 16px;
    opacity: 0;
    transform: translateY(0px);
    transition: .3s ease;
}

.card-vitrine:hover .grid-adicionar-carrinho {
    opacity: .85;
    transform: translateY(-20px);

}

.card-vitrine img:hover {
    transition: .5s ease;
    height: 105%;
}